<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singer <%= singer.name %> </title>
</head>
<body>
    <%- include('./_header.ejs') %> 
    <div><p><%= singer.description %> </p></div>
    <a href="/edit/<%= singer.id %> ">Edit</a>
</body>
</html>